<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="Testlogfile" xsi:type="File" fileName="TestLog.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="Testlogfile" />
  </rules>
</nlog>