<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="mnBackup" type="mnBackupLib.ConfSection, 
                                  mnBackup.Lib" />  
    </configSections>

  <mnBackup
    ExposeVolume="L:"
    Interval="1w"
    Store="1m"
    TaskFile="mnBackup.json"
    stringValue="A sample string value."
    boolValue="true"
    timeSpanValue="5:00:00"
  />
</configuration>